@model X.PagedList.IPagedList<FinanceManagement.Models.Entities.Expense>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common

@{
    ViewData["Title"] = "Expenses";
}

<div class="banner--inner">
    <img src="https://source.unsplash.com/MJSFNZ8BAXw/1920x300" alt="Banner" />
    <div class="banner-caption">
        <h5>Expenses</h5>
    </div>
</div>

<div class="table">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <a href="javascript:void(0);" onclick="showCreateModal();" class="btn btn-outline-dark">Create New</a>
            </div>

            <div class="col col-md-6">
                <form asp-action="Index" asp-controller="Expenses" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="searchTxt" placeholder="Search by month..." />
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <hr />

        @if (TempData["Confirmation"] != null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@TempData["Confirmation"]</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <table class="table table-hover table-striped table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Months
                    </th>
                    <th>
                        Expense Type
                    </th>
                    <th>
                        Value
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Month.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpenseTypes.Name)
                        </td>
                        <td>
                            R$ @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            <a href="javascript:void(0);" onclick="showEditModal(@item.ExpenseId, @item.ExpenseTypeId, @item.MonthId, @item.Value);" class="btn btn-outline-info btn-sm btn-icon" title="Edit"><i class="fas fa-edit"></i></a>
                            <a href="javascript:void(0);" onclick="showDeleteModal(@item.ExpenseId);" class="btn btn-outline-danger btn-sm btn-icon" title="Delete"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.PagedListPager(Model, page => Url.Action("Index", "Expenses", new { page }), new PagedListRenderOptionsBase
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </div>
</div>

<div class="modal modalCreate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new expense</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="formCreate">
                    <select class="form-control expenseMonth mb-2" asp-items="ViewBag.MonthId"></select>
                    <div class="input-group">
                        <select class="form-control expenseType mb-2" asp-items="ViewBag.TypeId"></select>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-dark" title="Add new" onclick="showExpenseTypeField();"><i class="fas fa-plus-circle"></i></button>
                        </div>
                    </div>
                    <input type="number" class="form-control expenseValue" placeholder="Enter the amount" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger btn-create">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modalExpenseType" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new expense type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control expenseTxt" placeholder="Enter the name of expense" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-add">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit expense</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="formCreate">
                    <select class="form-control expenseMonth mb-2" asp-items="ViewBag.MonthId"></select>
                    <div class="input-group">
                        <select class="form-control expenseType mb-2" asp-items="ViewBag.TypeId"></select>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-dark" title="Add new" onclick="showExpenseTypeField();"><i class="fas fa-plus-circle"></i></button>
                        </div>
                    </div>
                    <input type="number" class="form-control expenseValue" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger btn-edit">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modalDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-delete">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function showCreateModal() {
            $('.modalCreate').modal('show');

            let monthId = $('.modalCreate .expenseMonth option:selected').val();
            let expenseId = $('.modalCreate .expenseType option:selected').val();

            // Get the id from selected option when changed between options
            $('.modalCreate .expenseMonth').on('change', function () {
                monthId = $('.modalCreate .expenseMonth option:selected').val();
            }).val();
            $('.modalCreate .expenseType').on('change', function () {
                expenseId = $('.modalCreate .expenseType option:selected').val();
            }).val();

            $('.modalCreate .btn-create').on('click', function (e) {

                let expenseValue = $('.modalCreate .expenseValue').val();

                if (expenseValue.length == 0)
                    alert('Please enter a expense value')

                else {
                    $.ajax({
                        url: '/Expenses/AddExpense',
                        method: 'POST',
                        data: {
                            monthId: monthId,
                            expenseId: expenseId,
                            expenseValue: expenseValue
                        },
                        success: function (data) {
                            $('.modalCreate').modal('hide');
                            location.reload(true);
                        }
                    });
                }
            });
        }

        function showExpenseTypeField() {
            $('.modalExpenseType').modal('show');

            $('.modalExpenseType .btn-add').on('click', function () {
                let expenseTxt = $('.expenseTxt').val();

                $.ajax({
                    url: '/ExpenseTypes/AddExpenseType',
                    method: 'POST',
                    data: { expenseTxt: expenseTxt },
                    success: function (data) {
                        if (!data) {
                            $('.modalExpenseType').modal('hide');
                            $('.modalExpenseType').modal('dispose');
                            $('.modalExpenseType .btn-add').unbind('click');
                            expenseTxt = '';
                            alert('Expense type already exists!');
                        }

                        location.reload(true);
                    }
                });
            });
        }

        function showEditModal(id, expenseId, monthId, value) {
            $('.modalEdit').modal('show');

            let monthIdEdit = $('.modalEdit .expenseMonth').val(monthId);
            let expenseIdEdit = $('.modalEdit .expenseType').val(expenseId);
            let expenseValueEdit = $('.modalEdit .expenseValue');

            // Get the id from selected option when changed between options
            $('.modalEdit .expenseMonth').on('change', function () {
                monthIdEdit = $('.modalEdit .expenseMonth option:selected').val();
            }).val();
            $('.modalEdit .expenseType').on('change', function () {
                expenseIdEdit = $('.modalEdit .expenseType option:selected').val();
            }).val();

            expenseValueEdit.val(value);

            $('.modalEdit .btn-edit').on('click', function () {

                if (expenseValueEdit.length == 0)
                    alert('Please enter a expense value')

                else {
                    $.ajax({
                        url: '/Expenses/EditExpense',
                        method: 'POST',
                        data: {
                            id: id,
                            monthId: monthIdEdit.val(),
                            expenseId: expenseIdEdit.val(),
                            expenseValue: expenseValueEdit.val()
                        },
                        success: function (data) {
                            $('.modalEdit').modal('hide');
                            location.reload(true);
                        }
                    });
                }
            });
        }

        function showDeleteModal(id) {
            $('.item-name').text(name);
            $('.modalDelete').modal('show');

            $('.btn-delete').on('click', function () {
                $.ajax({
                    url: 'Expenses/Delete',
                    method: 'POST',
                    data: { id: id },
                    success: function () {
                        $('.modalDelete').modal('hide');
                        location.reload(true);
                    }
                });
            });
        }
    </script>
}