@model IEnumerable<FinanceManagement.Models.Entities.ExpenseType>

@{
    ViewData["Title"] = "Index";
}

<div class="banner--inner">
    <img src="https://source.unsplash.com/NeTPASr-bmQ/1920x300" alt="Banner" />
    <div class="banner-caption">
        <h5>Expense Types</h5>
    </div>
</div>

<div class="table">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <a href="javascrip:void(0);" class="btn btn-outline-dark" onclick="showCreateModal();">Create New</a>
            </div>

            <div class="col col-md-6">
                <form asp-action="Index" asp-controller="ExpenseTypes" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="searchTxt" placeholder="Search..."/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div> 
        </div>

        <hr />

        @if (TempData["Confirmation"] != null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@TempData["Confirmation"]</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ExpenseTypeId" class="btn btn-outline-info btn-sm btn-icon" title="Edit"><i class="fas fa-edit"></i></a>
                            <a href="javascript:void(0);" onclick="showDeleteModal(@item.ExpenseTypeId, '@item.Name');" class="btn btn-outline-danger btn-sm btn-icon" title="Delete"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal modalCreate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new expense type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control expenseTxt" placeholder="Enter the name of expense" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-add">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- How to put edit in a modal? *******************************************************************-->
<div class="modal modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new expense type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control expenseTxt" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-add">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modalDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <span class="item-name"></span> ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-delete">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        function showCreateModal() {
            $('.modalCreate').modal('show');

            $('.btn-add').on('click', function () {
                let expenseTxt = $('.expenseTxt').val();

                $.ajax({
                    url: '/ExpenseTypes/AddExpenseType',
                    method: 'POST',
                    data: { expenseTxt: expenseTxt },
                    success: function (data) {
                        if (!data) {
                            $('.modalCreate').modal('hide');
                            $('.modalCreate').modal('dispose');
                            $('.btn-add').unbind('click');
                            expenseTxt = '';
                            alert('Expense type already exists or is empty');
                        }

                        else location.reload(true);
                    }
                });
            });
        }

        function showEditModal() {
            $('.modalEdit').modal('show');

            $('.btn-edit').on('click', function () {
                let expenseTxt = $('.expenseTxt').val();

                $.ajax({
                    url: '/ExpenseTypes/AddExpenseType',
                    method: 'POST',
                    data: { expenseTxt: expenseTxt },
                    success: function (data) {
                        if (!data) {
                            $('.modalEdit').modal('hide');
                            $('.modalEdit').modal('dispose');
                            $('.btn-add').unbind('click');
                            expenseTxt = '';
                            alert('Expense type already exists or is empty');
                        }

                        else location.reload(true);
                    }
                });
            });
        }

        function showDeleteModal(id, name) {
            $('.item-name').text(name);
            $('.modalDelete').modal('show');

            $('.btn-delete').on('click', function () {
                $.ajax({
                    url: 'ExpenseTypes/Delete',
                    method: 'POST',
                    data: { id: id },
                    success: function (data) {
                        $('.modalDelete').modal('hide');
                        location.reload(true);
                    }
                });
            });
        }
    </script>
}